<form action="/" method="post">
	<p>
		Paste your full url here: <input type="text" name="url" value="<%=h @short_url.url%>" size="40" />
		<input type="submit" value="Create my short url!" class="button" />
	</p>
</form>