<h1>Welcome to the Url-Shortener Service</h1>
<p>This service is simple...just enter your long url in the box below and we'll give you a shorter one to use around the web - happy shortening!</p>
<%=erb(:form, :layout => false) %>
